page-rewards {
    @include background-image;
    img {
        position: relative;
        top: -75px;
        max-width: 100px;
    }
    circle-progress {
        text {
            font-size: 30px;
        }
        tspan {
            fill: $color-white;
        }
    }
}
