<ion-header>
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h3>Rewards</h3>
                </ion-col>
                <ion-col>
                    <button id="donateButton" ion-button (click)="donate()">Donate</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager text-center>

        <ion-slide *ngFor="let reward of rewards">
            <h1 *ngIf="reward?.name">{{reward.name}}</h1>
            <circle-progress *ngIf="reward?.cost"
            [percent]="profile.points"
            [maxPercent]="reward.cost"
            [radius]="50"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="500"
            [showSubtitle]="false"
            [showUnits]="false"
            ></circle-progress>
            <br /><br /><br /><br /><br />
            <img class="bordered" src="../assets/imgs/giftcard.png">
            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <footer>
                <button ion-button icon-left block clear (click)="redeem(reward.cost)">
                    <strong>REDEEM</strong>
                </button>
            </footer>
        </ion-slide>

    </ion-slides>

</ion-content>
