page-rewards {
    @include background-image;
    circle-progress {
        position: absolute;
        right: 50%;
        transform: translate(50%, -50%);
    }
    // button,
    // .button-ios,
    // .button-md {
    //     background-color: #FFFFFF;
    //     color: $color-primary;
    // }
}
