page-login {
    @include background-image;
    a {
        color: #FFFFFF;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #loginButton {
        background-color: lighten($color-primary, 20%);
    }
}
