// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$color-primary: #144788;
$color-ltblue: #266bc1;

@mixin background-image {
    background-image: url('../assets/imgs/background.jpeg');
    background-position: center;
    ion-content,
    .content-md,
    .content-ios {
        background-color: rgba(20, 71, 136, 0.9);
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #144788;
    text-align: center;
}

#donateButton {
    float: right;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    &:hover {
        background-color: darken($color-primary, 20%);
        color: white;
    }
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 80px;
}